/* Style the container for the Mermaid diagram */
.mermaid-container {
    width: 100%; /* Set the width as desired */
    height: 5rem; /* Set the height as desired */
    margin: 0 auto; /* Center the diagram horizontally */
}

/* Add additional styles for your diagram as needed */
.mermaid-container .node rect {
  fill: #009688; /* Example: Change the node rectangle fill color */
}

.mermaid-container .node text {
  font-size: 14px; /* Example: Adjust the font size for node text */
}

.mermaid-container .edgePath path {
  stroke: #333; /* Example: Change the edge path stroke color */
}

#mermaid-diagram{
  width: 100%; /* Set the width as desired */
    height: 20%; /* Set the height as desired */
}