
.wf-header {
    background: linear-gradient(to bottom, rgb(99, 195, 224),white);
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  
  .App-link {
    color: #61dafb;
  }
  
  
  .box-container {
    display: flex;
    flex-direction: column;
    
    position: absolute;
  }
  
  .box {
    display: flex;
    width: 100%;
    height: 40px;
    border: 0px solid #e7d9d9;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    color: #000000; 
    
  }
  
  .box1 {
    display: flex;
    width: 100%;
    height: 40px;
    border: 0px solid #e7d9d9;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    color: #000000;
    margin-bottom: 5%
  }
  
  .graphcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .graphbox{
    display: flex;
    width: 80%;
    height: 400px;
    border: 1px solid #1505f4;
    border-radius: 30px; 
    padding: 20px;
    margin: 20px;
    background-color: #ced9ee;
    margin: '0 auto';
    justify-content: center; 
  
  }
  
  .FooterBox {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 20px;
    margin-top: 20px;
    background: linear-gradient(to bottom, white, rgb(99, 195, 224));
    color: #ffffff; 
    
  }
