* {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.App-header { 
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App{
  margin: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-top: 5%;
  margin-bottom: 2%
}
