.mermaidGraphh{
  margin: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  overflow: hidden;
  height: 95vh;
}

.mermaidGraphhHeading{
  background-color: black;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
}

/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.785); /* Color of the scrollbar thumb */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Show the scrollbar in Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.785); /* Color of the thumb and the track */
}